body {
    background-color: #f9f9f4;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 0.625em;
    border-top-style: dashed;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: thick;
    border-top-color: #000;
/*  background-image: url(../../images/background.jpg); */
}
body a {
    color: #000;
}
.highlight {
    color: #FFF;
    background-color: #000;
}
.tinypeep.top{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    -o-transform:rotate(180deg); /* Opera */
    position: fixed;
    top: -40px;
    transition: all 0.3s;
    -moz-transition: all 0.3s; /* Firefox 4 */
    -webkit-transition: all 0.3s; /* Safari and Chrome */
    -o-transition: all 0.3s; /* Opera */
}

.tinypeep.top.out{
    top: -20px;
    transition: all 0.1s;
    -moz-transition: all 0.1s; /* Firefox 4 */
    -webkit-transition: all 0.1s; /* Safari and Chrome */
    -o-transition: all 0.1s; /* Opera */
}
.tinypeep.top.hide{
    top: -80px;
}
#hello {
    font-size: 4em;
    color: #000;
    width: 18em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
    display: block;
}
#hello p{

    line-height: 60px;
}
#hello .note{
    color: grey;
    font-size: 0.4em
    
}

#flickr h2{margin: 1em;}

h2 {text-align: center;}

#flickr {
		font-size: 3em;
    margin-right: auto;
    margin-left: auto;
    width: 24em;
    border: dashed;
    border-color: #000;
    font-family: "Courier New", Courier, monospace;		
}
#flickr img {
    height: 8em;
    width: 8em;
}

#twitter {
    font-size: 3em;
    width: 22em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0em;
    border: medium dashed #000;
    margin-top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    font-family: "Courier New", Courier, monospace;
}
#twitter li {
    text-align: left;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
#twitter li span {
    color: #FFF;
    background-color: #000;
}

.footer {
    background-color: #F9F9F4;
    width: 960px
}

#copyright {
    font-size: 2em;
    color: lightgrey;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



